<div class="mainheader-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="logo-name">
                    <a href="index.html"><h3>Project Name</h3></a>
                </div>
            </div>
           <div class="col-md-6 clearfix text-right">
                <div class="clearfix d-md-inline-block d-block">
                    <div class="user-profile m-0">
                        <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar">
                        <h4 class="user-name" data-toggle="dropdown">Log Out <i class="fa fa-angle-down"></i></h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- main header area end -->
<!-- header area start -->
<div class="header-area header-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9  d-none d-lg-block">
                <div class="horizontal-menu">
                    <nav>
                        <ul id="nav_menu">
                            <li>
                                <a href="professor.html"><i class="fa fa-user"></i><span class="menu-name">Professors</span></a>
                            </li>
                            <li>
                                <a href="student.html"><i class="fa fa-graduation-cap"></i><span class="menu-name">Students</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- nav and search button -->
            <!-- mobile_menu -->
            <div class="col-12 d-block d-lg-none">
                <div id="mobile_menu"></div>
            </div>
        </div>
    </div>
</div>
<!-- header area end -->
<!-- page title area end -->
<div class="main-content-inner">
    <div class="container">
        <div class="row">
            
             <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                        <h4 class="header-title">All Professors</h4>
                    </div>
                </div>
                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <thead class="text-uppercase">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Email Id</th>
                                            <th scope="col">action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Markose</td>
                                            <td>9087656778</td>
                                            <td>test@gmail.com</td>
                                            <td><i class="ti-trash"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jhone Jose</td>
                                            <td>7890567843</td>
                                            <td>test@gmail.com</td>
                                            <td><i class="ti-trash"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Santhi P</td>
                                            <td>6098567843</td>
                                            <td>test@gmail.com</td>
                                            <td><i class="ti-trash"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Subha Soman</td>
                                            <td>9045678903</td>
                                            <td>test@gmail.com</td>
                                            <td><i class="ti-trash"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Somu </td>
                                            <td>9089948903</td>
                                            <td>test@gmail.com</td>
                                            <td><i class="ti-trash"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>